#App {
  text-align: center;
  background-color: #dbf4ff;
}

#app-header {
  background-color: #dbf4ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

#app-title {
  padding-top: 10px;
  font-size: 55px;
}

.App-link {
  color: #61dafb;
}

#addressSearchBar{
  size: 20px;
}

img {
  width: 100px;
  hight: 100px;
}

#president {
 
}